<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="HairSalonDb"
         connectionString="Server=localhost\SQLEXPRESS;Database=HairSalon Db;Integrated Security=True;Encrypt=Optional;TrustServerCertificate=True;"
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SalonName" value="Fix Republic POS" />
    <add key="SalonAddress" value="123 Beauty Street, Manila, Philippines" />
    <add key="TaxRate" value="0.12" />
    <add key="BackupFolder" value="" />
  </appSettings>
</configuration>
