<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="HairSalonDb"
         connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=HairSalon Db;Integrated Security=True;Encrypt=Optional;TrustServerCertificate=True"
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SalonName" value="Cindy Hair Salon" />
    <add key="SalonAddress" value="123 Beauty Street, Quezon City, Metro Manila" />
    <add key="SalonTelephone" value="(02) 8123-4567" />
    <add key="SalonTin" value="123-456-789-00000" />
  </appSettings>
</configuration>
